div.displayed-title {
	margin: 0px 20px;
	padding: 5px 0px 5px 0px;
}

.oghas-card {
	padding: 8px;
}

.cash-crops {
	margin-top: 20px;
}

.cash-crops-icon {

}

.cash-crops-desc {

}

.cash-crops-desc .crop,.figure,.rate {
	margin-bottom: 0px;
	text-align: right
}

.cash-crops-desc .crop{
	color: rgba(44, 112, 48, 0.53);
	font-size: 12px;
}

.cash-crops-desc .figure{
	color: black;
	font-size: 15px;
}

.cash-crops-desc .rate{
	color: gray;
	font-size: 10px;
}

.card-footer.oghas-card {
	background-color: white;
	font-size: 13px;
	color: rgba(128, 128, 128, 0.72);
}

.card-footer.oghas-card .fa {
	color: black;
}

.staple-crops {
	margin-top: 20px
}

.staple-crops .oghas-card{
	padding-top: 20px;
}

.first-charts {
	margin-top: 20px;
}

.nbs-food-charts {
	margin-top: 20px;
}

.nbs-food-charts .nav > a {
	color: black;
}

.food-price-nbs > .nav-link {
	color: white !important;
	background-color: #4caf50;
}

.food-price-nbs > .nav-link.active {
	color: white;
	background-color: darkseagreen;
}
