/* main media container styling */
.media {
    background: #fff;
}
/* menu title section */
.menu-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-title {
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    margin: .5rem;
    text-transform: capitalize;
    color: rgb(255, 200, 200);
}
.active, .btn-title:hover{
    color: #e87ab2;
}

/* trending-section */
.trending-stories{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
}

/* heading text */
.heading {
    text-transform: capitalize;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

/* heading stories */
.heading-stories {
    display: flex;
    padding: 1rem 0;
}
/* heading span  */
#trend {
    color: #000;
}
/* heading span  */
#stories {
    color: #e87ab2;
}

/* trending section */
.trending-section {
    width: 100%;
    padding: 0 1rem;
    border-bottom: 2rem;
}
.media-section {
    display: flex;
}
/* stories-image */
.image-section{
    flex: 0 0 50%;
    margin-right: 2rem;
}
/* gallery-image */
.gallery-image {
    width: 48rem;
    padding: 0 1rem;
    height: 300px;
}
/* stories-section */
.stories-section {
    display: flex;
    flex-direction: column;
    margin: 0 .2rem .2rem .2rem;
}

/* heading-text */
.heading-text {
    border-bottom: 2px solid black;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0 1rem .5rem 1rem;
    text-transform: capitalize;
    color: #000;
    letter-spacing: 1px;
    text-align: justify;
}
/* sub-heading paragraph */
.sub-heading {
    color: #000;
    text-transform: capitalize;
    padding: .5rem .5rem;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 300;
    cursor: pointer;
}
.sub-heading:not(:last-child) {
    margin-bottom: 1rem;
}

/* reset all a tags */
a {
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #000;
}

/* advert section */
.advert {
    padding: 1rem;
}
.row-grid {
    height: 100%;
}

.sales-section {
    display: flex;
    justify-content: space-between;
}

/* advert section for market from the DB */
.gallery-image-1{
    height: 100%;
    width: 100%;
}

.sales-section:focus {
    outline: none;
}

.btn-cart {
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    color: #000;
    background: #fff;
    font-size: .5rem;
    padding: .3rem .6rem;
    border: .1rem solid #e87ab2;
    margin: .5rem 0;
    border-radius: .5rem;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn-cart:hover {
    color: #fff;
    background: #e87ab2;
}

.btn-cart:focus {
    outline: none;
}
.btn-padding {
    padding: .5rem 1.8rem;
}
.price{
    text-transform: capitalize;
    font-size: 1.5rem;
    color: #000;
}

/* reset all p tag */
p{
    margin: 0;
}
.paragraph, .price {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 300;
    color: #000;
}
/* Ends of advert section for market from the DB */

/* Ofashion Tv heading */
.video-tv {
    width: 100%;
    padding: 0 1rem;
}
/* Tv heading styling */
.Tv-heading {
    text-transform: capitalize;
    padding: 1rem;
    letter-spacing: 1px;
}

/* video content section heading*/
.video-content {
    padding: 1rem;
}

.video-content-container {
    background: #eee;
    height: 100%;
}
.content-heading {
    font-size: 1.5rem;
    padding: 1rem 2rem 0 2rem;
    letter-spacing: 1px;
    color: #000;
    font-weight: 300;
    margin: 0;
}

.content-review {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 300;
    color: #000;
}
.video-socail-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.share-content {
    display: flex;
}
.facebook,
.tweet,
.gshare,
.embed {
    padding: .5rem;
    color: #fff;
    font-size: 1rem;
    margin: 1rem;
    margin-right: 0;
    text-transform: capitalize;
}
.facebook {
    background: #3B5998;
}
.tweet {
    background: #55ACEE;
}
.gshare {
    background: #DD4B39;
}
.embed {
    background: #000;
    margin: 1rem;
}
/*  Ends of content section */
.latest-video-section {
    text-transform: uppercase;
    background: #e87ab2;
    text-align: center;
    align-items: center;
    padding: .5rem;
}

.video-section {
    color: #fff;
    margin: 0;
}

.video-row {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.video-row-tv {
    height: 150px;
    width: 200px;
    padding: 0 0;
}

.paragrahp-video {
    display: flex;
    width: 90% !important;
    height: 90% !important;
    margin-right: 0 !important;
}
/* row margin-bottom */
.row-margin-bottom {
    margin-bottom: 2rem;
}

.video-title {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem .5rem;
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: 0;
}
/* End of Ofashion Tv */

/* Editors pick heading */
.editor{
    margin-bottom: 1.5rem;
}
.editors-row {
    padding: 0 2rem;
}
.product-name-para {
    color: #000;
    font-size: 1.2rem;
    font-weight: 300;
}

.product-name {
    text-transform: capitalize;
}
 /* Ends of Editors pick  */
