/*Brand Consistency Rules Start*/
html {
  scroll-behavior:smooth;
}

body {
	font-family: Exo, sans-serif;
	font-weight: 600;
}

.oghas-material {
	box-shadow: 0px 5px 14px 0px rgba(80, 96, 80, 0.31);
}

.oghas-font {
	font-family: Exo, sans-serif;
	font-weight: 600;
	font-style: normal;
	/*background-color:#fff;*/
}

.oghas-input {
	background-color: #fff;
	color: grey !important;
}

.oghas-input::placeholder {
	color: grey !important;
}

.oghas-input:focus {
	background: white !important;
}

.oghas-btn {
	background-color: #4caf50;
	color: white;
}

a {}

a:hover {}

#middle-adverts {
	margin-bottom: 20px;
	margin-top: 20px;
}

#side-adverts {}

/*Brand Consistency Rules End*/

/*Header Start*/
#oghas-logo {
	background-image: url("../../assets/img/Oagric_Transparent.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding: 35px;
}

.oghas-nav {
	background-color: #000;
	top: 0;
	position: sticky;
	z-index: 999;
	box-shadow: 0px 0px 20px 8px rgba(80, 96, 80, 0.31);
	padding: 0px;
	margin: 0 auto;
}

@media (max-width: 991px) {
	.oghas-nav .container {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		max-width: 960px;
	}
}

@media (max-width: 892px) {
	#header-subscribe {
		width: 19%;
		padding-right: 15px;
		padding-left: 15px;
		max-width: 960px;
	}
}

@media (max-width: 892px) {
	.navbar-nav {
		font-size: 12px;
	}
}

@media (max-width: 892px) {
	.navbar-nav a:hover {
		color: grey !important;
	}
}

@media (max-width: 767px) {
	#header-subscribe {
		width: 30%;
		padding: 0px;
	}
}

@media (max-width: 767px) {
	.navbar-nav {
		font-size: 12px;
	}
}

@media (max-width: 767px) {
	.navbar-nav a:hover {
		color: grey !important;
	}
}

@media (max-width: 767px) {
	#header-search {
		width: 70px !important;
	}
}

button.navbar-toggler {
	color: white;
	border: white solid 1px !important;
}

#header-subscribe .btn {
	border: solid 1px white;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	color: grey !important;
	border-left: 1px green solid;
}

#header-subscribe .btn:hover {
	background: white !important;
}

.header-social i {
	color: #ffffff;
	margin-right: 10px;
	font-size: 30px;
}

input#header-search {
	width: 65px;
}

input#header-search:focus {
	width: 65px !important;
}

@media (max-width: 768px) {
	input#header-search {
		width: 65px;
		-webkit-transition: width 0s ease-in-out;
		transition: width 0s ease-in-out;
	}
}

@media (max-width: 768px) {
	input#header-search:focus {
		width: 65px;
		background-color: #2c7030;
	}
}

@media (max-width: 575px) {
	input#header-search {
		width: 50%;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
	}
}

@media (max-width: 575px) {
	input#header-search:focus {
		width: 100%;
		background-color: #2c7030;
	}
}

nav#inner-nav {
	width: 100%;
}

@media (max-width: 575.98px) {
	.navbar-expand-sm > .container {
		padding: 0 15px;
	}
}

/*Header End*/


/*Footer Starts*/
footer {
	background-color: #000;
	box-shadow: -1px 5px 20px 7px rgb(154, 154, 154);
	box-sizing: border-box;
	text-align: left;
	padding: 20px 20px;
	position: static;
	bottom: 0px;
	left: 0px;
	right: 0px;
	color: #fff;
}

.footer-navigation h3 {
	margin: 0;
	font: normal 36px Cookie, cursive;
	margin-bottom: 20px;
	color: #fff;
}

.footer-navigation h3 a {
	text-decoration: none;
	color: #fff;
}

.footer-navigation h3 span {
	color: #5383d3;
}

.footer-navigation p.links a {
	color: #fff !important;
	text-decoration: none;
}

.footer-navigation p.company-name {
	color: rgba(255, 255, 255, 0.71);
	font-size: 14px;
	font-weight: normal;
	margin-top: 20px;
}

@media (max-width:767px) {
	.footer-contacts {
		margin: 30px 0;
	}
}

.footer-contacts p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
}

.footer-contacts p a {
	color: #5383d3;
	text-decoration: none;
}

.fa.footer-contacts-icon {
	color: #fff !important;
	font-size: 18px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 38px;
	margin: 10px 15px 10px 0;
}

span.new-line-span {
	display: block;
	font-weight: normal;
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

.footer-about h4 {
	display: block;
	color: #fff;
	margin-bottom: 20px;
}

.footer-about p {
	line-height: 20px;
	color: #ffffff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

div.social-links {
	margin-top: 20px;
	color: #fff;
}

.social-links a {
	display: inline-block;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.footer-social {
	margin-top: 20px;
	font-size: 30px;
}

.footer-social i {
	color: white;
	margin-right: 10px;
}

/*Footer Ends*/

/*OghasTech Homepage*/
.oghas-nav .nav-link {
	color: white !important;
}

.section {
	height: 666px;
	width: 100%;
}

.section-overlay {
	height: 666px;
	width: 100%;
	position: absolute;
	z-index: 2;
}

.section-content {
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	z-index: 7;
	justify-content: space-around;
	display: -ms-flexbox !important;
	display: flex !important;
	height: 100% !important;
	flex-direction: column;
}

.section-child {
	-ms-flex-item-align: center !important;
	align-self: center !important;
}

.section-content-header {
	color: white;
	position: relative;
	z-index: 3;
}

.oghastech-btn {
	background-color: transparent;
	border-radius: 50px;
	color: white;
	padding: 6px 40px;
	position: relative;
	z-index: 3;
	border: solid 2px white !important;
}

.oghastech-btn:hover {
	border: 1px solid white;
	background-color: rgba(211, 211, 211, 0.33);
	box-shadow: 0px 5px 14px 0px rgba(80, 96, 80, 0.31);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.oghastech-btn-2:hover {
	box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.32);
}

.oghastech-btn-3:hover {
	box-shadow: 0px 5px 14px 0px rgba(2, 2, 2, 0.46);
}

.next-section {
	font-size: 50px;
	color: white;
	position: absolute;
	z-index: 7;
	left: 49%;
	animation: bounce 2s infinite;
}

@keyframes bounce {

	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-30px);
	}

	60% {
		transform: translateY(-15px);
	}
}

.section-content-buttons {
	margin-top: 70px;
}

.section-content-buttons > .col {
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 10px;
}

@media (max-width: 576px) {
	.section-content-buttons > .col {
		margin-right: 30px auto;
		margin-left: 30px auto;
	}
}

.section-1-overlay {
	background: rgba(255, 105, 180, 0.43);
}

.section-1-content {
	background-image: url(../img/bag-1.jpg);
}

.section-1 .next-section {
	font-size: 50px;
	color: white;
	position: absolute;
	z-index: 7;
	left: 49%;
	bottom: 5rem;
	animation: bounce 2s infinite;
}

.section-2-overlay {
	background: rgba(0, 128, 0, 0.65);
}

.section-2-content {
	background-image: url(../img/oagric-1.jpg);
	background-size: cover;
}

.section-3-overlay {
	background: rgba(0, 20, 128, 0.65);
}

.section-3-content {
	background-image: url(../img/oacademy-3.jpg);
	background-size: cover;
	background-position: contain;
}

#about-sections {
	padding: 50px 20px !important;
}

#about-sections .col {
	padding: 20px 20px 30px 20px !important;
	margin-left: 10px;
	margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#about-sections .col:hover {
	box-shadow: 0px 5px 14px 0px rgba(80, 96, 80, 0.3);
/*	-webkit-transform: scale(1.25, 1.25);*/
/*  transform: scale(1.01, 1.01);*/
}

#about-sections p {
	margin-bottom: 50px;
}

.about-links {
	text-align: right !important;
	float: right !important;
}

#news-updates {
	padding-bottom: 20px;
}

@media (max-width: 576px) {
	#about-sections .col {
		margin-bottom: 20px;
	}
}

@media (max-width: 576px) {
	#news-updates {
		text-align: center;
	}
}

@media (max-width: 576px) {
	#news-updates h4 {}
}

@media (max-width: 576px) {
	#news-updates p {
		padding: 10px 0 0 0 !important;
		margin-bottom: 5px;
	}
}

@media (max-width: 576px) {
	#news-updates span {
		padding: 0 !important;
	}
}

@media (max-width: 576px) {
	#news-updates .news-item {
		margin-bottom: 20px;
	}
}

#news-updates p {
	padding: 10px 15px 0px 15px;
}

#news-updates span {
	padding: 0px 15px 0px 15px;
}

#news-updates p > a {
	color: black;
}

/*OghasTech Homepage*/


/*OghasTech About-Us*/

/*Banner*/
div.jumbotron.hero-technology {
	color: #fff;
	text-align: center;
	background: url('../../assets/img/hero-background-technology.jpg');
	background-size: cover;
	background-position: center top;
	padding-top: 100px;
	padding-bottom: 100px;
	background-attachment: local;
}

h1.hero-title,
h2.hero-title,
h3.hero-title {
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	color: #fff;
	font-weight: 500;
}

p.hero-subtitle {
	max-width: 600px;
	margin: 25px auto;
	padding: 10px 15px;
	background-color: rgba(0, 0, 0, 0.1);
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
	font-weight: 500;
}

.the-story {

}

#banner {
	background: url(../../assets/img/pics1.jpg);
	background-position: top;
	width: 100%;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
}

/*What we do*/
.col-md-4.order-md-4.who-what-why {
	margin-top: 50px;
	text-align: center;
}

.who-what-why h3 {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 20px;
}

.who-what-why p {
	font-size: 15px;
	margin-bottom: 40px;
}

.lone-quote {
	text-align: center;
	font-size: 25px;
	margin: 0px 0px 20px 0px;
	font-style: italic;
}

/*Our standards*/
.col-md-6.our-standards-img-box.img-fluid {
	background: url(../../assets/img/pics2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.col-md-6.our-standards h3 {
	text-align: center;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 10px;
}

.col-md-6.our-standards h4 {
	color: darkorange;
}

.col.margin-black {
	border-right: black solid 2px;
}

@media (max-width: 768px) {
	.col-md-6.our-standards-img-box.img-fluid {
		background: url(../../assets/img/pics2.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 300px;
		margin-bottom: 20px;
	}
}

/*Our Services*/
#our-services .col-7 {
	padding: 10px;
}




/*Our services*/
#services {
	margin-top: 30px;
}

.our-services {
	text-align: center;
	font-weight: 700;
	padding-top: 20px;
	padding-bottom: 20px;
}

.carousel-caption {
	position: absolute;
	right: 0%;
	left: 60%;
	height: 100%;
	bottom: 0px;
	padding: 7% 20px 0 20px;
	z-index: 10;
	text-align: left;
	background: rgba(255, 255, 255, 0.62);
	color: #fff;
}

.carousel-news-title {
	color: rgb(0, 0, 0);
	font-weight: 700;
}

.carousel-news-title-sub {
	color: grey !important;
}

.carousel-news-item {
	color: rgb(94, 94, 94);
}

.carousel-btn {
	background: black !important;
}

.carousel-btn:hover {
	background: white;
	color: black;
	box-shadow: 0px 5px 14px 0px rgba(80, 96, 80, 0.31);
}

.carousel-control-prev-1,
.carousel-control-next-1 {
	position: absolute;
	bottom: 0;
	z-index: 1;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 5%;
	color: #fff;
	text-align: center;
	transition: opacity 0.15s ease;
}

@media screen and (prefers-reduced-motion: reduce) {

	.carousel-control-prev-1,
	.carousel-control-next-1 {
		transition: none;
	}
}

.carousel-control-prev-1:hover,
.carousel-control-prev-1:focus,
.carousel-control-next-1:hover,
.carousel-control-next-1:focus {
	color: #fff;
	text-decoration: none;
	outline: 0;
	opacity: 0.9;
}

.carousel-control-prev-1 {
	left: 0;
}

.carousel-control-next-1 {
	right: 0;
}

.carousel-control-prev-1-icon,
.carousel-control-next-1-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
}

.carousel-control-prev-1-icon {
	background-image: url([svg]);
}

.carousel-control-next-1-icon {
	background-image: url([svg]);
}

/*Our Team*/
@media (max-width:767px) {
	.team-grid h2 {
		margin-bottom: 25px;
		padding-top: 25px;
		font-size: 24px;
	}
}

.team-grid {
	color: #313437;
	background-color: #fff;
	margin-top: 30px;
}

.team-grid .intro {
	font-size: 16px;
	max-width: 500px;
	margin: 0 auto;
}

.team-grid .intro h3 {
	font-weight: 700;
}

.team-grid p {
	color: #7d8285;
}

.team-grid .people {
	padding: 30px 0;
}

.team-grid .item {
	margin-bottom: 30px;
}

.team-grid .item .box {
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 280px;
	position: relative;
	overflow: hidden;
}

.team-grid .item .cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(31, 148, 255, 0.75);
	transition: opacity 0.15s ease-in;
	opacity: 0;
	padding-top: 80px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.team-grid .item:hover .cover {
	opacity: 1;
}

.team-grid .item .name {
	font-weight: bold;
	margin-bottom: 8px;
}

.team-grid .item .title {
	text-transform: uppercase;
	font-weight: bold;
	color: #bbd8fb;
	letter-spacing: 2px;
	font-size: 13px;
	margin-bottom: 20px;
}

.team-grid .social {
	font-size: 18px;
}

.team-grid .social a {
	color: inherit;
	margin: 0 10px;
	display: inline-block;
	opacity: 0.7;
}

.team-grid .social a:hover {
	opacity: 1;
}
