/*Brand Consistency Styles*/

.oghas-material {
	box-shadow: 0px 5px 14px 0px rgba(80, 96, 80, 0.31);
}

.oghas-font {
	font-family: Exo, sans-serif;
	font-weight: 600;
	font-style: normal;
	background-color: #fff;
}

.oghas-input {
	background-color: #fff;
	color: white !important;
}

.oghas-input::placeholder {
	color: green !important;
}

.oghas-input:focus {
	border: rgba(0, 128, 0, 0.38) 2px solid;
}

.oghas-btn {
	background-color: #4caf50;
	color: white;
}

a {
	color: black !important;
}

a:hover {
	color: rgb(7, 136, 61) !important;
}

/*Brand Consistency Styles*/


/*Header*/
@media (max-width: 575.98px) {}


#oghas-logo {
	background-image: url("../../assets/img/Oagric_Transparent.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding: 35px;
}

.oghas-nav {
	background-color: #4caf50;
	top: 0;
	position: sticky;
	z-index: 999;
	box-shadow: 0px 0px 20px 8px rgba(80, 96, 80, 0.31);
	padding: 0px;
	width: 97%;
	margin: 0 auto;
	margin-top: 7px;
}

button.navbar-toggler {
	color: white;
	border: white solid 1px !important;
	background-image:
}

#header-subscribe .btn {
	border: solid 1px white;
}

.header-social {
	font-size: 30px;
}

.header-social i {
	color: #ffffff;
	margin-right: 10px;
}

input#header-search {
	width: 65px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input#header-search:focus {
	width: 90%;
	background-color: #2c7030;
}

nav#inner-nav {
	width: 100%;
}

@media (max-width: 575.98px) {
	.navbar-expand-sm > .container {
		padding: 0 15px;
	}
}

/*Menu Links*/


/*Card*/
#card-deck {
	margin-top: 50px;
}

.card-header-colour,
.btn-success,
.input-group-text-colour {
	background-color: #4caf50 !important;
	color: white;
}

/*Card*/


/*Newsletter Subscribe*/
#newsletter-signup {
	margin-top: 20px;
}


/*Newsletter Subscribe*/


/*Footer*/

footer {
	background-color: #4caf50;
	box-shadow: -1px 5px 20px 7px rgb(154, 154, 154);
	box-sizing: border-box;
	width: 96%;
	text-align: left;
	padding: 20px 20px;
	margin: 0 auto;
	/*	margin-top: 50px;*/
	margin-bottom: 20px;
	position: static;
	bottom: 0px;
	left: 0px;
	right: 0px;
	color: #fff;
}

.footer-navigation h3 {
	margin: 0;
	font: normal 36px Cookie, cursive;
	margin-bottom: 20px;
	color: #fff;
}

.footer-navigation h3 a {
	text-decoration: none;
	color: #fff;
}

.footer-navigation h3 span {
	color: #5383d3;
}

.footer-navigation p.links a {
	color: #fff;
	text-decoration: none;
}

.footer-navigation p.company-name {
	color: rgba(255, 255, 255, 0.71);
	font-size: 14px;
	font-weight: normal;
	margin-top: 20px;
}

@media (max-width:767px) {
	.footer-contacts {
		margin: 30px 0;
	}
}

.footer-contacts p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
}

.footer-contacts p a {
	color: #5383d3;
	text-decoration: none;
}

.fa.footer-contacts-icon {
	color: #163818;
	font-size: 18px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 38px;
	margin: 10px 15px 10px 0;
}

span.new-line-span {
	display: block;
	font-weight: normal;
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

.footer-about h4 {
	display: block;
	color: #fff;
	margin-bottom: 20px;
}

.footer-about p {
	line-height: 20px;
	color: #ffffff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

div.social-links {
	margin-top: 20px;
	color: #fff;
}

.social-links a {
	display: inline-block;
	/*width:35px;*/
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.footer-social {
	margin-top: 20px;
	font-size: 30px;
}

.footer-social i {
	color: rgba(0, 0, 0, 0.5);
	margin-right: 10px;
}

/*Header*/

marquee {
	margin-bottom: 20px;
	padding: 10px;
	background-color: #60ba60;
	color: white;
}

/*Invest Page*/
.left-pane > h4 {
	text-decoration: underline;
	color: green;
}

.time-stamp {
	font-size: 12px;
}

.advert-space .col {
	margin-bottom: 20px;
}

.read-more > a {
	font-size: 20px;
	color: green;
}

/*Invest Page*/


/*Advisory Page*/
.special-reports > .row {
	margin-bottom: 20px;
}

.ins-title {
	margin-bottom: 0px;
}

@media (max-width: 768px) {
	.advisory-main-header {
		text-align: center;
	}

	.advisory-special-report-header {
		text-align: center;
	}

	.advisory-latest-news-header {
		text-align: center;
	}

}

/*Advisory Page*/


/*Columnist Page*/
.main-title {
	margin-bottom: 0px;
}

.subtitle {
	font-size: 18px;
	color: green;
}

/*Columnist Page*/

/*Events Page*/

@media (max-width: 768px) {
	.events-main-content {
		text-align: center;
	}
}

.sort {
	display: inline-block;
	border: solid rgba(145, 145, 145, 0.38) 1px;
	border-radius: 4px;
	padding: 2px 0px;
}

.sort a {
	text-decoration: none;
}

.sort .active {
	border-bottom: solid 1.2px rgba(25, 25, 188, 0.72);
}

.relevance {
	padding: 5px 20px;
}


.date {
	padding: 0px 20px;
	border-left: solid 1px grey;
}

.category-main {
	padding: 10px 10px 10px 10px;
}

.category-main hr {
	margin: 5px 5px !important;
}

.category {}

.category a {
	color: #1b4cba
}

.event-item {
	margin-bottom: 20px;
}

.event-time-date {
	margin-bottom: 0px;
	font-weight: 100;
	color: green;
}

.event-title {
	margin-bottom: 0px;
}

.event-location {
	font-weight: 100;
	font-size: 15px;
	margin-bottom: 0px;
}

.event-type {
	margin-bottom: 0px;
	font-size: 13px;
	color: green;
	background: rgba(128, 128, 128, 0.17);
	padding: 10px
}

.event-tags {
	margin-bottom: 0px;
	padding: 5px;
	color: green;
}

.event-tags-more {
	padding: 5px;
	margin-bottom: 0px;
}

.news-section {
	margin-top: 20px;
}

.news-section-item {
	margin-left: 10px
}

.agric-news {
	text-decoration: underline;
	color: green;
}

.agric-directory {
	background: rgba(0, 128, 0, 0.67);
	color: white;
	height: 300px;
}

div.agric-directory button {
	background: white;
	color: #3ca03c;
	font-weight: 700;
}

.special-reports-2 {
	margin-bottom: 10px;
}

.special-reports-2 .title {
	font-size: 13px;
	margin-bottom: 0px;
}

.special-report-btn {
	font-size: 9.5px;
	margin-bottom: 5px;
}

.footer-adv {
	margin-top: 80px;
}

/*Events Page*/

/*Index Page*/

@media (max-width: 768px) {
	.menu-mobile {
		display: none;
	}
}

@media (min-width: 768px) {
	.menu-mobile-more {
		display: none;
	}
}

.index-latest-news {
	background: rgba(128, 128, 128, 0.14);
}

.news-item {
	font-size: 13px;
}

.featured-news-item {
	color: rgba(0, 0, 0, 0.73);
	font-size: 12px;
}

.text-justify {
	text-align: justify !important
}

.text-nowrap {
	white-space: nowrap !important
}

.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.text-left {
	text-align: left !important
}

.text-right {
	text-align: right !important
}

.text-center {
	text-align: center !important
}

@media (max-width: 768px) {
	.main-content {
		text-align: center;
	}
}

@media (min-width:576px) {
	.text-sm-left {
		text-align: left !important
	}

	.text-sm-right {
		text-align: right !important
	}

	.text-sm-center {
		text-align: center !important
	}
}

@media (min-width:768px) {
	.text-md-left {
		text-align: left !important
	}

	.text-md-right {
		text-align: right !important
	}

	.text-md-center {
		text-align: center !important
	}
}

@media (min-width:992px) {
	.text-lg-left {
		text-align: left !important
	}

	.text-lg-right {
		text-align: right !important
	}

	.text-lg-center {
		text-align: center !important
	}
}

@media (min-width:1200px) {
	.text-xl-left {
		text-align: left !important
	}

	.text-xl-right {
		text-align: right !important
	}

	.text-xl-center {
		text-align: center !important
	}
}

.text-lowercase {
	text-transform: lowercase !important
}

.text-uppercase {
	text-transform: uppercase !important
}

.text-capitalize {
	text-transform: capitalize !important
}

.news-section-item {
	margin-top: 20px;
	padding-top: 10px;
}

/*Index Page*/

/*Oagric TV*/
.oagric-tv {
	background: #3ca03c;
	color: white;
	margin-bottom: 30px;
}

.oagric-tv h4 {
	color: white;
	padding: 10px;
	margin-bottom: 0px;
}

.main-video {
	margin-bottom: 20px;
}

.main-video-sub {
	margin-bottom: 20px;
}

.other-videos h4 {
	margin-bottom: 0px;
	margin-top: 20px;
}

.other-videos hr {
	margin-bottom: 5px;
	margin-top: 5px;
}

.last-vid {
	margin-bottom: 30px;
}

.col-md-4.latest-news {
	margin-top: 20px;
}

.latest-news h4 {
	margin-bottom: 0px;
}

.latest-news hr {
	margin-bottom: 5px;
	margin-top: 5px;
}

.latest-news p {
	margin-bottom: 5px;
}

.advert-space {
	margin-top: 20px;
}

/*Oagric TV*/

/*Post*/

.post-recommended-link {
	font-size: 12px;
}

.post-recommended-link > img {
	margin-bottom: 5px;
}

.writer {
	padding: 20px;
	border: 1px solid rgba(128, 128, 128, 0.19);
}

/*Post*/

/*Onews*/

.news-recommended-news-item {
	margin-top: 5px;
}

/*Onews*/
