/*Header*/

#oghas-logo.navbar-brand {
	background-image: url("../../assets/img/Oagric_Transparent.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 50px;
	padding: 30px;
	background-position: center;
}

.newsletter-subscribe {
	color: #313437;
	background-color: #fff;
	padding: 50px 0;
}

.newsletter-subscribe p {
	color: #7d8285;
	line-height: 1.5;
}

.newsletter-subscribe h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 25px;
	line-height: 1.5;
	padding-top: 0;
	margin-top: 0;
	color: inherit;
}

.newsletter-subscribe .intro {
	font-size: 16px;
	max-width: 500px;
	margin: 0 auto 25px;
}

.newsletter-subscribe .intro p {
	margin-bottom: 35px;
}

.newsletter-subscribe form {
	justify-content: center;
}

.newsletter-subscribe form .form-control {
	background: #eff1f4;
	border: none;
	border-radius: 3px;
	box-shadow: none;
	outline: none;
	color: inherit;
	text-indent: 9px;
	height: 45px;
	margin-right: 10px;
	min-width: 250px;
}

.newsletter-subscribe form .btn {
	padding: 16px 32px;
	border: none;
	background: none;
	box-shadow: none;
	text-shadow: none;
	opacity: 0.9;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 0.4px;
	line-height: 1;
}

.newsletter-subscribe form .btn:hover {
	opacity: 1;
}

.newsletter-subscribe form .btn:active {
	transform: translateY(1px);
}

.newsletter-subscribe form .btn-primary {
	background-color: #055ada !important;
	color: #fff;
	outline: none !important;
}

.oghas-nav {
	background-color: #4caf50;
	top: 0;
	position: sticky;
	z-index: 999;
	box-shadow: 0px 0px 20px 8px rgba(80, 96, 80, 0.31);
	padding: 0px;
	width: 97%;
	margin: 0 auto;
	margin-top: 7px;
}

.oghas-font {
	font-family: Exo, sans-serif;
	font-weight: 600;
	font-style: normal;
}

.oghas-input {
	background-color: #2c7030;
	color: white !important;
}

.oghas-input::placeholder {
	color: white !important;
}

.oghas-input:focus {
	background-color: #2c7030;
}

#header-subscribe .btn {
	border: solid 1px white;
}

.header-social {
	font-size: 30px;
}

.header-social i {
	color: #ffffff;
	margin-right: 10px;
}

input#header-search {
/*	background-image: url('../img/images.png');*/
	width: 65px;
	box-sizing:border-box;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

input#header-search:focus {
	width: 100%;
	background-color: #2c7030;
}

nav#inner-nav {
	width: 100%;
	/*flex-wrap:nowrap;*/
}

@media (max-width: 575.98px) {
	.navbar-expand-sm > .container {
		padding: 0 15px;
	}
}


.navigation-clean-search {
	background: #fff;
	padding-top: .75rem;
	padding-bottom: .75rem;
	color: #333;
	border-radius: 0;
	box-shadow: none;
	border: none;
	margin-bottom: 0;
}

@media (min-width:768px) {
	.navigation-clean-search {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

.navigation-clean-search .navbar-brand {
	font-weight: bold;
	color: inherit;
}

.navigation-clean-search .navbar-brand:hover {
	color: #222;
}

.navigation-clean-search .navbar-toggler {
	border-color: #ddd;
}

.navigation-clean-search .navbar-toggler:hover,
.navigation-clean-search .navbar-toggler:focus {
	background: none;
}

.navigation-clean-search .navbar-toggler {
	color: #888;
}

.navigation-clean-search .navbar-collapse,
.navigation-clean-search .form-inline {
	border-top-color: #ddd;
}

.navigation-clean-search .navbar-nav a.active,
.navigation-clean-search .navbar-nav > .show > a {
	background: none;
	box-shadow: none;
}

.navigation-clean-search.navbar-light .navbar-nav a.active,
.navigation-clean-search.navbar-light .navbar-nav a.active:focus,
.navigation-clean-search.navbar-light .navbar-nav a.active:hover {
	color: #8f8f8f;
	box-shadow: none;
	background: none;
	pointer-events: none;
}

.navigation-clean-search.navbar .navbar-nav .nav-link {
	padding-left: 18px;
	padding-right: 18px;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link {
	color: #465765;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean-search.navbar-light .navbar-nav .nav-link:hover {
	color: #37434d !important;
	background-color: transparent;
}

.navigation-clean-search .action-button,
.navigation-clean-button .action-button:active {
	background: #56c6c6;
	border-radius: 20px;
	font-size: inherit;
	color: #fff !important;
	box-shadow: none;
	border: none;
	text-shadow: none;
	padding: 8px 20px;
	transition: background-color 0.25s;
}

.navigation-clean-search .action-button:hover,
.navigation-clean-search .action-button:focus {
	background: #66d7d7;
}

.navigation-clean-search .form-inline label {
	color: #ccc;
}

.navigation-clean-search .form-inline .search-field {
	background: none;
	border: none;
	border-bottom: 1px solid transparent;
	border-radius: 0;
	color: #ccc;
	box-shadow: none;
	color: inherit;
	transition: border-bottom-color 0.3s;
}

@media (max-width:767px) {
	.navigation-clean-search .form-inline .search-field {
		display: inline-block;
		width: 80%;
	}
}

.navigation-clean-search .form-inline .search-field:focus {
	border-bottom: 1px solid #ccc;
}

@media (max-width: 406px) {
	#navcol-1.navcol1-mobile {
		/*display:flex;*/
		justify-content: center;
		flex-direction: column-reverse;
	}
}

.navbar-dark .navbar-toggler-icon {}

/*Header*/

/*Menu Links*/

.navigation-clean {
	background: #fff;
	padding-top: .75rem;
	padding-bottom: .75rem;
	color: #333;
	border-radius: 0;
	box-shadow: none;
	border: none;
	margin-bottom: 0;
}

@media (min-width:768px) {
	.navigation-clean {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

.navigation-clean .navbar-brand {
	font-weight: bold;
	color: inherit;
}

.navigation-clean .navbar-brand:hover {
	color: #222;
}

.navigation-clean .navbar-toggler {
	border-color: #ddd;
}

.navigation-clean .navbar-toggler:hover,
.navigation-clean .navbar-toggler:focus {
	background: none;
}

.navigation-clean .navbar-toggler {
	color: #888;
}

.navigation-clean .navbar-collapse,
.navigation-clean .form-inline {
	border-top-color: #ddd;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active,
.navigation-clean.navbar-light .navbar-nav .nav-link.active:focus,
.navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
	color: #8f8f8f;
	box-shadow: none;
	background: none;
	pointer-events: none;
}

.navigation-clean.navbar .navbar-nav .nav-link {
	padding-left: 18px;
	padding-right: 18px;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
	color: #465765;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean.navbar-light .navbar-nav .nav-link:hover {
	color: #37434d !important;
	background-color: transparent;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
	margin-top: -5px;
	box-shadow: none;
	background-color: #fff;
	border-radius: 2px;
}

.navigation-clean .dropdown-menu .dropdown-item:focus,
.navigation-clean .dropdown-menu .dropdown-item {
	line-height: 2;
	color: #37434d;
}

.navigation-clean .dropdown-menu .dropdown-item:focus,
.navigation-clean .dropdown-menu .dropdown-item:hover {
	background: #eee;
	color: inherit;
}



/*Menu Links*/


/*Card*/

#card-deck {
	margin-top: 50px;
}

.card-header-colour,
.btn-success,
.input-group-text-colour {
	background-color: #4caf50 !important;
	color: white;
}

/*Card*/


/*Footer*/

.footer-social {
	margin-top: 20px;
	font-size: 30px;
}

.footer-social i {
	color: rgba(0, 0, 0, 0.5);
	margin-right: 10px;
}

footer {
	background-color: #4caf50;
	box-shadow: -1px 5px 20px 7px rgb(154, 154, 154);
	box-sizing: border-box;
	width: 96%;
	text-align: left;
	padding: 20px 20px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 20px;
	bottom: 0;
	color: #fff;
}

.footer-navigation h3 {
	margin: 0;
	font: normal 36px Cookie, cursive;
	margin-bottom: 20px;
	color: #fff;
}

.footer-navigation h3 a {
	text-decoration: none;
	color: #fff;
}

.footer-navigation h3 span {
	color: #5383d3;
}

.footer-navigation p.links a {
	color: #fff;
	text-decoration: none;
}

.footer-navigation p.company-name {
	color: rgba(255, 255, 255, 0.71);
	font-size: 14px;
	font-weight: normal;
	margin-top: 20px;
}

@media (max-width:767px) {
	.footer-contacts {
		margin: 30px 0;
	}
}

.footer-contacts p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
}

.footer-contacts p a {
	color: #5383d3;
	text-decoration: none;
}

.fa.footer-contacts-icon {
	color: #163818;
	font-size: 18px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 38px;
	margin: 10px 15px 10px 0;
}

span.new-line-span {
	display: block;
	font-weight: normal;
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

.footer-about h4 {
	display: block;
	color: #fff;
	margin-bottom: 20px;
}

.footer-about p {
	line-height: 20px;
	color: #ffffff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

div.social-links {
	margin-top: 20px;
	color: #fff;
}

.social-links a {
	display: inline-block;
	/*width:35px;*/
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 5px;
	margin-bottom: 5px;
}

/*Header*/
